### Web Scrap Countries of the world with bs4

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url = 'https://www.scrapethissite.com/pages/simple/'
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
list_content = soup.select('.country')

In [6]:
list_content[0]

<div class="col-md-4 country">
<h3 class="country-name">
<i class="flag-icon flag-icon-ad"></i>
                            Andorra
                        </h3>
<div class="country-info">
<strong>Capital:</strong> <span class="country-capital">Andorra la Vella</span><br/>
<strong>Population:</strong> <span class="country-population">84000</span><br/>
<strong>Area (km<sup>2</sup>):</strong> <span class="country-area">468.0</span><br/>
</div>
</div>

In [7]:
result = []
for item in list_content:
  data = dict()

  # data collection
  data['name'] = item.select_one('.country-name').text
  data['capital'] = item.select_one('.country-capital').text
  data['population'] = item.select_one('.country-population').text
  data['area'] = item.select_one('.country-area').text
  result.append(data)

In [19]:
print(data)

{'name': '\n\n                            Zimbabwe\n                        ', 'capital': 'Harare', 'population': '11651858', 'area': '390580.0'}

In [21]:
df = pd.DataFrame(result)
df.sort_values('name')
df['name'] = df['name'].str.strip()
df['population'] = df['population'].apply( lambda x: "{:,}".format(int(x)))
df['area'] = df['area'].apply(lambda x: "{:,}".format(float(x)))
df.index += 1
df

                     name           capital  population         area
1                 Andorra  Andorra la Vella      84,000        468.0
2    United Arab Emirates         Abu Dhabi   4,975,593     82,880.0
3             Afghanistan             Kabul  29,121,286    647,500.0
4     Antigua and Barbuda        St. John's      86,754        443.0
5                Anguilla        The Valley      13,254        102.0
..                    ...               ...         ...          ...
246                 Yemen             Sanaa  23,495,361    527,970.0
247               Mayotte         Mamoudzou     159,042        374.0
248          South Africa          Pretoria  49,000,000  1,219,912.0
249                Zambia            Lusaka  13,460,305    752,614.0
250              Zimbabwe            Harare  11,651,858    390,580.0

[250 rows x 4 columns]

In [23]:
df.to_csv("Countries Of the World.csv", index = True)